main_config: 
  resource_prefix: ${self:provider.stage}-app-level   
  service_name_app: rbac-app-level
  service_name_resources: rbac-resources

resources_config:
  dynamo_db_config_table:
    tablename: ${self:main_config:resource_prefix}-config
    table_throughputs:
      prod: 5
      default: 1      
